<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Estudiantes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
</head>
<body>
<div th:replace="fragmento/navbar :: navbar"></div>
<h1>Lista de Estudiantes</h1>

<table>
  <thead>
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Cursos</th>
  </tr>
  </thead>
  <tbody>
  <!-- iterar sobre la lista de estudiantes -->
  <tr th:each="estudiante : ${estudiantes}">
    <td th:text="${estudiante.nombre}"></td>
    <td th:text="${estudiante.apellido}"></td>
    <td>
      <!-- iterar sobre los cursos del estudiante -->
      <ul>
        <li th:each="curso : ${estudiante.cursos}" th:text="${curso.titulo}"></li>
      </ul>
    </td>
  </tr>
  </tbody>
</table>

<h2>Añadir Estudiante</h2>
<form action="/estudiantes-add" method="POST">
  <label for="nombre">Nombre:</label>
  <input type="text" id="nombre" name="nombre" required>
  <br>
  <label for="apellido">Apellido:</label>
  <input type="text" id="apellido" name="apellido" required>
  <br>
  <label for="curso">Curso:</label>
  <select name="cursoId" id="curso">
    <!-- iterar sobre la lista de cursos -->
    <option th:each="curso : ${cursos}" th:value="${curso.id}" th:text="${curso.titulo}"></option>
  </select>
  <br>
  <button type="submit">Añadir Estudiante</button>
</form>

</body>
</html>
